<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    "
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script src="/js/main.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="view-main"></div>

  <div id="custom-toast"></div>
  {{#if isAdmin}}
		<div class="admin-section-header">
			<div class="admin-logo">
				Web final project
        <i class="fa-solid fa-sack-dollar"></i>
			</div>
			<div class="admin-login-info">
				<a href="/admin">Welcome, Admin </a>
        <br />
				<img class="admin-user-avatar" src="/images/avatar.png" alt="">
			</div>
		</div>
		<div class="admin-container">
			<div class="admin-section admin-section1 ">
				<ul>
					<a href="/admin"><li class="{{#checkPath routerPath ""}}active-menu{{/checkPath}}" ><i class="fas fa-sliders-h"></i>Dashboard</li></a>
					<a href="/admin/account"><li class="{{#checkPath routerPath "admin/account"}}active-menu{{/checkPath}}"><i class="fas fa-user-tie"></i>Account</li></a>
          <a href="/admin/deposit"><li class="{{#checkPath routerPath "admin/deposit"}}active-menu{{/checkPath}}"><i class="fa-solid fa-money-bill"></i>Deposit</li></a>
          <a href="/admin/withdraw"><li class="{{#checkPath routerPath "admin/withdraw"}}active-menu{{/checkPath}}"><i class="fa-solid fa-money-bill-1"></i>Withdraw</li></a>
          <a href="/admin/trans-history"><li class="{{#checkPath routerPath "admin/trans-history"}}active-menu{{/checkPath}}"><i class="fa-solid fa-money-bills"></i>Transaction History</li></a>
          <a href="/admin/logout"><li class="text-light{{#checkPath routerPath "admin/logout"}}active-menu{{/checkPath}}" style="background-color: #c65151;"><i class="fa fa-sign-out "></i>Logout</li></a>
				</ul>
			</div>
			{{{body}}}
		</div>
  {{else}}
  <nav class="main-nav">
      <a href="#" class="main-nav__logo">Web Final Project</a>
      <div class="toggle-menu">
        <button class="toggle-btn"><i class="fa-solid fa-bars"></i></button>
      </div>
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a href="/">Dashboard</a>
        </li>
        <li class="main-nav__item">
          <a href="/phone-card">Phone card</a>
        </li>
        <li class="main-nav__item">
          <a href="/recharge">Recharge</a>
        </li>
        <li class="main-nav__item">
          <a href="/deposit">Deposit</a>
        </li>
        <li class="main-nav__item">
          <a href="/withdraw">Withdraw</a>
        </li>
        <li class="main-nav__item hidden">
          <a href="/users/profile"><i class="fa-solid fa-address-card"></i>
                  Profile</a>
        </li>
        <li class="main-nav__item hidden">
          <a href="/users/change-password"><i class="fa-solid fa-lock"></i>
                  Đổi mật khẩu</a>
        </li>
        <li class="main-nav__item hidden">
          <a href="/users/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Đăng xuất</a>
        </li>
        <li class="login-menu">
          <i class="fa-solid fa-gear" id="login-menu-btn"></i>
          <div class="drop-down">
            <ul class="drop-down-list">
              <li class="drop-down-item">
                <a href="/users/profile"><i class="fa-solid fa-address-card"></i>
                  Profile</a>
              </li>
              <li class="drop-down-item">
                <a href="/users/change-password"><i class="fa-solid fa-lock"></i>
                  Đổi mật khẩu</a>
              </li>
              <li class="drop-down-item">
                <a href="/users/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Đăng xuất</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
  </nav>
   {{#if flash}}
    <div
      class="text-center fade show alert alert-dismissible alert-{{flash.type}}"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >&times;</button>
      <strong>{{flash.intro}}</strong>
      {{flash.message}}
    </div>
  {{/if}}
    {{{body}}}
	{{/if}}
  </body>
</html>